{% if 'string' == variable %}{% endif %}
{% if 'string' === variable %}{% endif %}
{% if 'string' == true %}{% endif %}
{% if 'string' === true %}{% endif %}
{% if foo != bar %}{% endif %}
{% if foo !== bar %}{% endif %}
